[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cicliminds-lib = {git = "https://github.com/vindex10/cicliminds-lib.git"}

[dev-packages]

[requires]
python_version = "3.9"
