[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
cicliminds-lib = {ref = "0.2.2", git = "https://github.com/vindex10/cicliminds-lib"}
matplotlib = "*"
numpy = "*"
scipy = "*"
pandas = "*"
xarray = "*"
geopandas = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.9"
